<div class="jumbotron" style="padding:50px">
<p><strong class="purple usernamefont"><%=fa_icon "user"%> Posts by <%= @user.username %></p></strong></p>
<div class="jumbotron" style="padding:50px">
<%= image_tag(@user.avatar, size: "100x106") %>
<br><br>

<div style="display:inline-block; width:40%;">
<p><strong>Friends:</strong> <%= @user.friendships.count%></p>
<ul>
    <% for @friendship in @user.friendships %>
      <li>
      <%= image_tag(@friendship.friend.avatar, size: "30x32") %> <%= link_to @friendship.friend.username, @friendship.friend%><%if current_user.id == @user.id%> -  
      <%= link_to "Remove friend", @friendship, :method => :delete %>
      <%end%>
      </li>
  <% end %>
</ul>
<% if current_user.id != @user.id && !current_user.friends.exists?(@user.id)%>
<%= button_to "Add friend", friendships_path(:friend_id => @user), :method => :post %>
<%end%>
<br>
<%if current_user.id == @user.id %>
<p><strong>Users who friended you: </strong><%= @user.inverse_friends.count%></p>
<%else%>
<p><strong>Users who friended <%= @user.username %>: </strong><%= @user.inverse_friends.count%></p>
<%end%>
<ul>
  <% @user.inverse_friends.each do |user| %>
  <li><%= image_tag(user.avatar, size: "30x32") %> <%= link_to user.username, user %></li>
  <% end %>
</ul>
</div>
<hr><br>

<% @user.posts.reverse_each do |post| %>

<p><span class="lightgreen">Posted by </span><span class ="purple"><%= post.user.username%></p></span>
<p class="postedat">Posted at: <%= post.created_at.strftime('%H:%M:%S') %></p>
<%= image_tag(post.image.url, alt: 'Image', style: "max-width:300px") if post.image? %>
<br><br>

<% if post.video? %>
<% link_string = post.video.to_s %>

<% if link_string.include?('youtube') %>
  <% link = link_string.gsub("youtube.com/watch?v=", "youtube.com/embed/")%>
  <% elsif link_string.include?('vimeo') %> 
  <% link = link_string.gsub("vimeo.com/", "player.vimeo.com/video/")%>
<% else %>
  <% link = post.video %>
<% end %>

<iframe class="embed-responsive-item" width="426" height="240" frameborder="0" src="<%= link %>?autoplay=1&muted=1&mute=1", allow="autoplay; fullscreen" allowfullscreen></iframe>
<br><br>
<% end %>

<p><%= post.message %></p>

<hr>

<div style="display:inline-block; width:50%">
<% if post.likes.count > 0 %>
<%= link_to post_likes_path(post.id) do %>
  <p class="lightgreen"><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% end %>
<% else %>
<p class="lightgreen"><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% end %>
<% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
<%= button_to post_like_path(post, pre_like), method: :delete do %>
  <%=fa_icon "thumbs-down"%> Unlike
  <% end %>
<% else %>
<%= button_to post_likes_path(post.id), method: :post do %>
  <%=fa_icon "thumbs-up"%> Like
  <% end %>
  <% end %>
  </div>
  <div style="display:inline-block; float: right">
  <span class="lightgreen"><%= post.comments.count %> comments</span>
<br>
<br>
<% if current_user.id == post.user_id %>
<%= link_to "Edit", edit_post_path(post.id) %> |
<%= link_to "Delete", post_path(post.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</div>
<br>
<br>

<p><strong class="textpurple"><%=fa_icon "comment"%> Comments</strong></p>
<hr>
<%if post.comments.count == 0 %>
<p>This post has no comments yet...</p>
<%end%>
<% post.comments.each do |comment| %>

<p><%= comment.comment %></p>

<% user = comment.user.to_json %>
    <% username = JSON.parse(user).to_h%>
   <% userid = username["id"] %>
   <%if current_user.id == comment.user_id %>
   <p><span class="lightgreen">By: <%= image_tag(comment.user.avatar, size: "30x32") %> </span>
   <span class ="purple"> <% user = comment.user.to_json %>
    <% username = JSON.parse(user).to_h%>
   <span class ="purple"><%= username["username"] %> </span>
    <br>
  </p>
  <%else%>
  <p><span class="lightgreen">By:<%= image_tag(comment.user.avatar, size: "30x32") %> </span><%= link_to user_path(userid) do %>
    <span class ="purple"><% user = comment.user.to_json %>
    <% username = JSON.parse(user).to_h%>
   <%= username["username"] %></span>
    <br>
  </p>
  <%end%>
  <%end%>
  <div style="display:inline-block; width:50%">
  <p class="postedat">Commented at:
  <%= comment.created_at.strftime('%H:%M:%S') %>
  </p>
  </div>
  <div style="display:inline-block; float: right">
  <% if current_user.id == comment.user_id %>
   <%= link_to "Edit", edit_post_comment_path(post, comment) %> |
   <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
<%end%>

<hr>

<p><span class="purple">Add a comment</span><p>

<%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.text_area :comment, class: "comment-box", placeholder: " Write a comment...", style: "padding:5px 10px 20px 10px;" %>
  </p>
  <p>
    <%= form.submit "Add a comment"%>
  </p>
  <br>
  <hr style="background-color:#5B2A86">
  <br>
<% end %>

<%end%>

</div>
</div>


