<div class="jumbotron" style="padding:50px">
<p><strong class="purple usernamefont"><%=fa_icon "user"%> Forgot your password?</strong></p>
<div class="jumbotron" style="padding:50px">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signup" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>