<div class="container text-center">
<h2><%= image_tag('welcome-icon.png', style: "max-width: 600px;") %></h2>
<br>
<br>
</div>

<div style="text-align: center">
<div class="jumbotron homebox">
<h3 class="purple">New to Railsbook?</h3>
<br>
<%= image_tag('signup-icon.png', style: "max-width: 150px;") %>
<br><br>
 <%= button_to "Sign up!", new_user_registration_path, style: "width:200px; height:50px; border-radius:35px; font-size:1.5rem", method: :get %>
</div>
<div class="jumbotron homebox">
<h3 class="purple">Already a user?</h3>
<br>
<%= image_tag('login-icon.png', style: "max-width: 150px;") %>
<br><br>
<%= button_to "Login", new_user_session_path, style: "width:200px; height:50px; border-radius:35px; font-size:1.5rem", method: :get %>
</div>
</div>