<div class="jumbotron" style="padding:50px">
<p><strong class="purple usernamefont"><%=fa_icon "envelope"%> Posts</strong></p>
<div class="jumbotron" style="padding:50px">
<% if current_user.id %>
<%= button_to 'New post', new_post_path, method: :get %>

<% end %>
<br>

<% @posts.each do |post| %>
<p><span class="lightgreen">Posted by: </span><%= image_tag(post.user.avatar, size: "40x42") %> <strong><%= link_to post.user.username, post.user%></strong> </p>
 <p class="postedat">Posted at: <%= post.created_at.strftime('%H:%M:%S') %></p>
  <%= image_tag(post.image.url, alt: 'Image', style: "max-width:300px" ) if post.image? %>

  <% if post.video %>
  <% link_string = post.video.to_s %>

  <% if link_string.include?('youtube') %>
    <% link = post.video.to_s.gsub("youtube.com/watch?v=", "youtube.com/embed/")%>
    <% elsif link_string.include?('vimeo') %> 
    <% link = post.video.to_s.gsub("vimeo.com/", "player.vimeo.com/video/")%>
  <% else %>
    <% link = post.video %>
  <% end %>

  <iframe  width="420" height="315" src='<%= link %>', allow='autoplay;'></iframe>
  <% end %>

  <br><br>
  <p><%= post.message %></p>
  <hr>
  
  <div style="display:inline-block; width:50%">
  <p class="lightgreen"><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <div style="display:inline-block">
  <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to post_like_path(post.id, pre_like), method: :delete do %>
    <%=fa_icon "thumbs-down"%> Unlike
    <%end%>
  <% else %>
    <%= button_to post_likes_path(post.id), method: :post do %>
    <%=fa_icon "thumbs-up"%> Like
    <%end%>
  <% end %>
  </div>
  <div style="display:inline-block">
<%= button_to "View Post", post_path(post.id), method: :get %>
</div>
</div>
<div style="display:inline-block; float: right">
  <p class="lightgreen"><%= post.comments.count %> comments</p>
  <% if current_user.id == post.user_id %>
<%= link_to "Edit", edit_post_path(post.id) %> | 
<%= link_to "Delete", post_path(post.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</div>
<hr style="background-color:#5B2A86">
<% end %>

<% if current_user.id && @posts.count >= 1%>
<br>
<%= button_to 'New post', new_post_path, method: :get %>

<% end %>
</div>
</div>
