
<% @post.each do |post| %>
  <p><%= post.message %></p>
  <p><%= post.created_at.strftime('%H:%M:%S') %></p>
  <%= link_to 'Destroy', post, :method => :delete, :confirm => "Are you sure?" %>
  <%= link_to 'Edit', edit_post_path(post.id ) %>
  <div class="comment-count">
  <span class="tag is-rounded"><%= post.comments.count %> comments</span>
</div>

<p>Comments: <%= post.comments %></p>
<p> Add a comment </p>

<%= form_for @comment do |form| %>
  <%= form.label :comment %>
  <%= form.text_field :comment %>
  <%= form.hidden_field :post_id, :value => post.id %>

  <%= form.submit "Submit" %>
<% end %>


<%= @post.comments %>



<% end %>

<br>

<%= link_to new_post_path do %>
  New post


<% end %>
