<div class="jumbotron" style="padding:50px">
<p><strong class="purple usernamefont">Posts</strong></p>
<div class="jumbotron" style="padding:50px">
<% @posts.each do |post| %>
<p><span class="lightgreen">Posted by:</span> <%= link_to post.user.username, post.user%> </p>
 <p class="postedat">Posted at: <%= post.created_at.strftime('%H:%M:%S') %></p>
  <p><%= post.message %></p>
  <p class="lightgreen"><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <div style="display:inline-block">
  <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Unlike', post_like_path(post.id, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_likes_path(post.id), method: :post %>
  <% end %>
  </div>
  <div style="display:inline-block">
<%= button_to "View Post", post_path(post.id), method: :get %>
</div>
<div>
  <p class="lightgreen"><%= post.comments.count %> comments</p>

  <% if current_user.id == post.user_id %>
<%= link_to "Edit", edit_post_path(post.id) %>
<%= link_to "Delete", post_path(post.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</div>
<hr>
<% end %>

<% if current_user.id %>
<br>
<%= button_to 'New post', new_post_path, method: :get %>

<% end %>
</div>
</div>
