<div class="jumbotron" style="padding:50px">
<p><strong class="purple usernamefont"><%=fa_icon "eye"%> Post View</strong></p>
<div class="jumbotron" style="padding:50px">
<p class="lightgreen">Posted by: <%= image_tag(@post.user.avatar, size: "40x42") %> <strong><%= link_to @post.user.username, @post.user%></strong> </p>
<p class="postedat">Posted at: <%= @post.created_at.strftime('%H:%M:%S') %></p>
<%= image_tag(@post.image.url, alt: 'Image', style: "max-width:300px") if @post.image? %>
<br><br>

<% if @post.video %>
<% link_string = @post.video.to_s %>

<% if link_string.include?('youtube') %>
  <% link = link_string.gsub("youtube.com/watch?v=", "youtube.com/embed/")%>
  <% elsif link_string.include?('vimeo') %> 
  <% link = link_string.gsub("vimeo.com/", "player.vimeo.com/video/")%>
<% else %>
  <% link = @post.video %>
<% end %>

<iframe class="embed-responsive-item" width="426" height="240" frameborder="0" src="<%= link %>?autoplay=1", allow="autoplay; fullscreen" allowfullscreen></iframe>
<br><br>
<% end %>

<p><%= @post.message %></p>
<hr>

<div style="display:inline-block; width:50%">
<p class="lightgreen"><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to post_like_path(@post, pre_like), method: :delete do %>
  <%=fa_icon "thumbs-down"%> Unlike
  <%end%>
<% else %>
  <%= button_to post_likes_path(@post), method: :post do %>
  <%=fa_icon "thumbs-up"%> Like
  <%end%>
<% end %>
</div>

<div style="display:inline-block; float: right">
  <p class="lightgreen"><%= @post.comments.count %> comments</p>
  <% if current_user.id == @post.user_id %>
<%= link_to "Edit", edit_post_path(@post.id) %> |
<%= link_to "Delete", post_path(@post.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</div>
<br>
<br>
<p class="usernamefont purple"><strong><%=fa_icon "comment"%> Comments</strong></p>
<hr style="background-color:#5B2A86" >
<% @post.comments.each do |comment| %>
<%# Get user id for each comment %>
<% user = comment.user.to_json %>
    <% username = JSON.parse(user).to_h%>
   <% userid = username["id"] %>

<p class="lightgreen">By: <%= image_tag(comment.user.avatar, size: "30x32") %> <%= link_to user_path(userid) do %>
    <% user = comment.user.to_json %>
    <% username = JSON.parse(user).to_h%>
   <%= username["username"] %>
    <br>
  </p>
<% end %>
<p class="postedat">Commented at:
<%= comment.created_at.strftime('%H:%M:%S') %>
</p>
  <p>
    <%= comment.comment %>
  </p>
  <div style="display:inline-block; float: right">
  <% if current_user.id == comment.user_id %>
  <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
  <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
<% end %>
</div><br><hr>
<% end %>


<p class="usernamefont purple"><strong>Add a comment</strong></p>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.text_area :comment, class: "comment-box", placeholder: " Write a comment...", style: "padding:5px 10px 20px 10px;" %>
  </p>
  <p>
    <%= form.submit "Add comment" %>
  </p>
<% end %>
</div>
<div style="float: right"><%= button_to 'Back', posts_path, method: :get %></div>
</div>
