<p><%= @post.message %></p>
<p><%= @post.created_at.strftime('%H:%M:%S') %></p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commented by:</strong>
    <% user = comment.user.to_json %>
    <% username = JSON.parse(user).to_h%>
   <%= username["username"] %>
    <br>
  </p>

  <strong>Name:</strong>
  <%= comment.name %>
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
  <p><strong>Commented at:</strong>
  <%= comment.created_at.strftime('%H:%M:%S') %>
  </p>
  <% if current_user.id == comment.user_id %>
  <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>


<h2>Add a comment:</h2>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<p><%= link_to 'Back', posts_path %></p>


