<p><%= @post.message %></p>
<p><%= @post.created_at.strftime('%H:%M:%S') %></p>
<p>Posted by: <%= link_to @post.user.username, @post.user%> </p>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>

<%# Get user id for each comment. %>
<% user = comment.user.to_json %>
    <% username = JSON.parse(user).to_h%>
   <% userid = username["id"] %>

<p><strong>Commented by:</strong> <%= link_to user_path(userid) do %>
    <% user = comment.user.to_json %>
    <% username = JSON.parse(user).to_h%>
   <%= username["username"] %>
    <br>
  </p>
<% end %>

  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
  <p><strong>Commented at:</strong>
  <%= comment.created_at.strftime('%H:%M:%S') %>
  </p>
  <% if current_user.id == comment.user_id %>
  <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
   <%= link_to "Edit", edit_post_comment_path(@post, comment) %> 
<% end %>
<% end %>


<h2>Add a comment:</h2>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<p><%= link_to 'Back', posts_path %></p>


